
body {
    background-color: darkgoldenrod !important;
}
#result{
    display: none;
}
span{
    font-weight: bolder;
}
footer{
    background-color: rgba(210, 105, 30, 0.664) ;
    margin-top: 50px;
    display: inline-block;
}
.rotate{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 160px 80px;
    border-color: transparent transparent gold transparent;
    animation: triangle 3s infinite linear;
    margin: 3rem;
    }
@keyframes triangle{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}